@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@import "vue3-emoji-picker/css";

@theme {
  --font-sans: Outfit, "sans-serif";
  --color-primary: #7f5af0;
  --color-secondary: #2cb67d;
  --color-white: #fffffe;
  --color-background: #16161a;
  --color-grey-dark: #242629;
  --color-grey-medium: #494e53;
  --color-grey-light: #94a1b2;
}

@layer utilities {
  .custom-scroll {
    @apply [&::-webkit-scrollbar-thumb]:bg-grey-medium [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-transparent;
  }

  a {
    @apply text-primary hover:brightness-120 active:brightness-90;
  }
}
